.faq {
    background-color: black;
    color: white;
}

.faq_header-top {
    font-family: Ubuntu, sans-serif;
font-size: 10px;
font-weight: 700;
letter-spacing: 0.1em;
color: #f6c43d; 
margin-top: 30px;
margin-bottom: 30px;
margin-left: 25px;
}

.faq_header {
    text-align: center; 
        display: flex;
        flex-direction: column;
        justify-content: space-around;   
}

